/* Globals */
body {
    font-family: 'aktiv-grotesk-thin';
    font-size: 16px;
    color: black;
    line-height: normal;
}

h1 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
    text-decoration: underline;
}


button {
    background-color: white;
    border: none;
    color: grey;
    padding: none;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

button:hover {
    text-decoration: underline;
}
  

/* Desktop Breakpoint */

@media only screen and (min-width: 960px) {
    .gridWrapper {
        display: grid;
        grid-template-columns: repeat(29, 1fr);
        grid-template-rows: repeat(29, 30px);
    }

/* nav positions logo and 'nav' div elements */
    nav {
        display: grid;
        grid-column: span 5;
        grid-row: span 29;
        grid-template-columns: repeat(5, 30px);
        grid-template-rows: repeat(23, 30px);
        border-right: 1px solid black;
    }

    .myName {
        grid-area: 2 / 2 / 5 / 4;
    }

    .myName h1 {
        min-width: 0;
        margin: 0;
    }

    .projects {
        grid-area: 6 / 2 / 7 / 4;
    }

    .about {
        grid-area: 7 / 2 / 8 / 4;
    }

    .contact {
        grid-area: 8 / 2 / 9 / 4;
    }

    .mode {
        grid-area: 12 / 2 / 16 / 5;
    }

/* main section */
    main {
        display: grid;
        grid-area: 6 / 10 / 14 / 30;
        grid-template-columns: repeat(22, 30px);
        grid-template-rows: repeat(20, 30px);
    }

    .projectContainer {
        display: grid;
        grid-row: span 10;
        grid-column: span 22;
        grid-template-columns: repeat(22, 30px);
        grid-template-rows: repeat(10, 30px);
        padding-left: 2px;
        border-top: 1px solid black;
    }

    .projectTitle {
        grid-row: 2 / 4;
        grid-column: span 11;
    }

    .projectTitle h2 {
        margin: 0vh 0;
        text-transform: capitalize;
    }

    .projectTitle h5 {
        margin: 1vh 0;
        color: rgb(20, 20, 20);
        font-style: italic;
    }

    .projectDescription {
        grid-area: 5 / 1 / 7 / 12;
        line-height: 23px;

    }

    .projectLink {
        grid-area: 9 / 1 / 10 / 6;
    }

    .projectLink h4 {
        margin: 0;
    }

    .projectImage {
        grid-area: 2 / 13 / 10 / 23;
        overflow: hidden;
    }

    .projectImage img {
        max-height: 100%;
        overflow: hidden;
    }

    /* About page */

    .profileImg {
        background-image: url('./resources/img/DSCF7631\ 1.jpg');
        background-size: cover;
        background-position: 35% 50%;
        grid-area: 1 / 1 / 11 / 10;
    }
        
    .bio {
        grid-area: 1 / 11 / 11 / 23;
        padding-left: 30px;
        line-height: 23px;
    }

    .bio p {
        margin: 0;
    }
}

/* Mobile Breakpoint */

@media only screen and (max-width: 960px) {
    .gridWrapper {
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(30, 30px);
        border: 1px solid black;
    }

/* nav positions logo and 'nav' div elements */
    nav {
        display: grid;
        grid-column: span 20;
        grid-row: span 4;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(4, 30px);
        border-bottom: 1px solid black;
    }

    .myName {
        grid-area: 2 / 2 / 5 / 4;
    }

    .myName h1 {
        min-width: 0;
        margin: 0;
    }

    .projects {
        grid-area: 2 / 16 / 3 / 19;
    }

    .about {
        grid-area: 3 / 16 / 4 / 19;
    }

    .contact {
        grid-area: 4 / 16 / 5 / 19;
    }

    .mode {
        display: none;
    }

/* main section */
    main {
        display: grid;
        grid-column: span 20;
        grid-row: span 30;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(30, 30px);
    }

    .projectContainer {
        display: grid;
        grid-row: span 12;
        grid-column: span 22;
        grid-template-columns: repeat(22, 1fr);
        grid-template-rows: repeat(12, 30px);
    }

    .projectTitle {
        grid-area: 2 / 2 / 4 / 13;
}

    .projectTitle h2 {
        margin: 0vh 0;
        text-transform: capitalize;
    }

    .projectTitle h5 {
        margin: 1vh 0;
        color: rgb(20, 20, 20);
        font-style: italic;
    }

    .projectDescription {
        grid-area: 5 / 2 / 7 / 12;
        line-height: 23px;

    }

    .projectLink {
        grid-area: 11 / 2 / 12 / 6;
    }

    .projectLink h4 {
        margin: 0;
    }

    .projectImage {
        grid-area: 2 / 13 / 10 / 22;
        margin-left: 10px;
        overflow: hidden;
    }

    .projectImage img {
        max-height: 100%;
        
    }

    /* About page */

    .profileImg {
        background-image: url('./resources/img/DSCF7631\ 1.jpg');
        background-size: cover;
        background-position: 50% 40%;
        grid-area: 1 / 1 / 11 / 22;
    }
        
    .bio {
        grid-area: 13 / 2 / 20 / 20;
        line-height: 23px;
    }

    .bio p {
        margin: 0;
    }

    /* Contact Form */

    #contactForm {
        margin-left: 30px;
        margin-top: 30px;
    }

    #contactForm #message {
        width: 200px;
    }
}





