body {
    font-family: 'aktiv-grotesk-thin';
    font-size: 16px;
    color: rgb(20, 20, 20);
}

h1 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
}

a:hover {
    text-decoration: underline;
}

/* Add in js to show active page link */

a:visited {
    color: black;
}

@media only screen and (min-width: 960px) {
    .gridWrapper {
        display: grid;
        grid-template-columns: repeat(32, 1fr);
        grid-template-rows: repeat(32, 30px);
    }

/* nav positions logo and 'nav' div elements */
    nav {
        display: grid;
        grid-column: span 5;
        grid-row: span 23;
        grid-template-columns: repeat(5, 30px);
        grid-template-rows: repeat(23, 30px);
        border-right: 1px solid grey;
    }

    .myName {
        grid-area: 2 / 2 / 5 / 4;
    }

    .myName h1 {
        min-width: 0;
        margin: 0;
    }

    .projects {
        grid-area: 6 / 2 / 7 / 4;
    }

    .about {
        grid-area: 7 / 2 / 8 / 4;
    }

    .contact {
        grid-area: 8 / 2 / 9 / 4;
    }

/* main section */
    main {
        display: grid;
        grid-area: 6 / 8 / 14 / 30;
        grid-template-columns: repeat(22, 30px);
        grid-template-rows: repeat(20, 30px);
    }

    .projectContainer {
        display: grid;
        grid-row: span 10;
        grid-column: span 22;
        grid-template-columns: repeat(22, 30px);
        grid-template-rows: repeat(10, 30px);
        padding-left: 2px;
        border-top: 1px solid grey;
    }

    .projectTitle {
        grid-row: 2 / 4;
        grid-column: span 11;
    }

    .projectTitle h2 {
        margin: 0vh 0;
        text-transform: capitalize;
    }

    .projectTitle h5 {
        margin: 1vh 0;
        color: rgb(20, 20, 20);
    }

    .projectDescription {
        grid-area: 5 / 1 / 7 / 12;
    }

    .projectLink {
        grid-area: 9 / 1 / 10 / 6;
    }

    .projectLink h4 {
        margin: 0;
    }

    .projectImage {
        grid-area: 2 / 13 / 10 / 23;
        overflow: hidden;
    }

    .projectImage img {
        max-height: 100%;
        overflow: hidden;
    }
}




